@page "/upload/{index}"
@using System
@using System.IO
@using System.Buffers
@using Microsoft.AspNetCore.Hosting
@using nClam;
@using ShikkhanobishMainWeb.Models;
@using Microsoft.Extensions.Logging
@using Google.Cloud.Storage.V1;
@using Google.Cloud.Language.V1;
@using Google.Apis.Auth.OAuth2;
@inherits MathJaxBlazor.MathJaxContentComponent
@inject ILogger<Test> Logger
@inject IWebHostEnvironment Environment
<InputFile OnChange="@LoadFiles" multiple />

<br />
<br />

<div>
    <div class="row">
        @foreach (var item in imagescr)
        {
        <div style="width: auto; height: auto; border-color: black; border: 1px ">

            <button class="btn btn-danger" @onclick="removeImage">Cancle</button>
            <br />
            <img class="makeQuesImage" src="@item" />
        </div>          
        }
    </div>
    
</div>

@errorLBL
@code {
    [Parameter]
    public int index { get; set; }
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 10000000;
    private int maxAllowedFiles = 20;
    private bool isLoading;
    string imageString;
    string text;
    string errorLBL;
    List<string> imagescr = new List<string>();
    List<string> Uploadedimagescr = new List<string>();
    List<FileStream> pendingFile = new List<FileStream>();
    string myMarkup = "<p class='markup'>This is a <b>markup string</b>.</p>";
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();
        if(e.FileCount > maxAllowedFiles)
        {
            errorLBL = "Can't choose more than " + maxAllowedFiles + " image";
        }
        else
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                try
                {

                    loadedFiles.Add(file);
                    var src = await ImageOrVideoToServerReady(file);
                    if (index == 0)
                    {
                        StaticPageToPassData.selectedFilesqs = file;
                        StaticPageToPassData.qsPrv = src;
                    }
                    if (index == 1)
                    {
                        StaticPageToPassData.selectedFilesop1 = file;
                        StaticPageToPassData.op1Prv = src;
                    }
                    if (index == 2)
                    {
                        StaticPageToPassData.selectedFilesop2 = file;
                        StaticPageToPassData.op2Prv = src;
                    }
                    if (index == 3)
                    {
                        StaticPageToPassData.selectedFilesop3 = file;
                        StaticPageToPassData.op3Prv = src;
                    }
                    if (index == 4)
                    {
                        StaticPageToPassData.selectedFilesop4 = file;
                        StaticPageToPassData.op4Prv = src;
                    }

                    imagescr.Add(src);
                }
                catch (Exception ex)
                {
                    Logger.LogError("File: {Filename} Error: {Error}",
                        file.Name, ex.Message);
                }
            }


        }


    }

    public void removeImage()
    {
        if (index == 0)
        {
            StaticPageToPassData.selectedFilesqs = null;
            StaticPageToPassData.qsPrv = "";
        }
        if (index == 1)
        {
            StaticPageToPassData.selectedFilesop1 = null;
            StaticPageToPassData.op1Prv = "";
        }
        if (index == 2)
        {
            StaticPageToPassData.selectedFilesop2 = null;
            StaticPageToPassData.op2Prv = "";
        }
        if (index == 3)
        {
            StaticPageToPassData.selectedFilesop3 = null;
            StaticPageToPassData.op3Prv = "";
        }
        if (index == 4)
        {
            StaticPageToPassData.selectedFilesop4 = null;
            StaticPageToPassData.op4Prv = "";
        }
        imagescr = new List<string>();
    }
    // Some APIs, like Storage, accept a credential in their Create()
    // method.
    public object AuthExplicit(string projectId, string jsonPath)
    {
        // Explicitly use service account credentials by specifying
        // the private key file.
        var credential = GoogleCredential.FromFile(jsonPath);
        var storage = StorageClient.Create(credential);
        // Make an authenticated API request.
        var buckets = storage.ListBuckets(projectId);

        return null;
    }

    public async Task<List<string>> UploadFileSample( List<IBrowserFile> loadedFiles)
    {
        errorLBL = "Please Wait...";
        UploadImage up = new UploadImage();
        string rootpath = System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot");
        try
        {
            for (int i = 0; i < loadedFiles.Count; i++)
            {
                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                string result = Path.GetTempPath();
                string gg = "https://images.shikkhanobish.com/uploadimage/";
                //var path = Path.Combine("C:/Inetpub/vhosts/shikkhanobish.com/", trustedFileNameForFileStorage);
                var path = Path.Combine(result, trustedFileNameForFileStorage);
                //var path = Path.Combine(Environment.ContentRootPath, "uploadimage", trustedFileNameForFileStorage);
                string tempFile = Path.GetTempFileName();
                await using FileStream fs = new(path, FileMode.Create);
                await loadedFiles[i].OpenReadStream(maxFileSize).CopyToAsync(fs);
                Uploadedimagescr.Add(up.UploadFileSample("shiquesimage", fs));
                errorLBL = "Successful!";
            }
        }
        catch (Exception ex)
        {
            errorLBL = "";
            errorLBL = ex.Message;
        }
        return Uploadedimagescr;
    }
    public async Task<string> ImageOrVideoToServerReady(IBrowserFile file)
    {
        var Thisfile = file;

        var buffer = new byte[Thisfile.Size];
        await Thisfile.OpenReadStream(maxFileSize = 40000000).ReadAsync(buffer);
        //await ScanFile(buffer);
        return "data:" + Thisfile.ContentType + $";base64,{Convert.ToBase64String(buffer)}";
    }
    public async Task<string> ScanFile(byte[] fileByte)
    {
        string result = "";
        try
        {
            var clam = new ClamClient("localhost", 44345);
            var scanResult = await clam.SendAndScanFileAsync(fileByte);  //any file you would like!

            switch (scanResult.Result)
            {
                case ClamScanResults.Clean:
                    result = "clean";
                    break;
                case ClamScanResults.VirusDetected:
                    result = "Vireus Found";
                    break;

                case ClamScanResults.Error:
                    result = "Erro";
                    break;

            }

        }
        catch (Exception ex)
        {

        }
        return result;
    }

}
