@using ShikkhanobishMainWeb.Models;
<div >
    <div style="text-align: center;  height: 100px; ">
        <span ><img style="width: 70px; height: 70px" src="/icon high res.png" /></span>
        <h4 class="company_title">Shikkhanobish</h4>
    </div>

    <div >
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
      
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item ">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
                    </NavLink>

                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> Make Question  </a>
                    <ul class="submenu open">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/MakeQuestion">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> MCQ
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/Make Creative Question">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Creative
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#"> History</a>
                    <ul class="submenu open">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/MCQ History">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> MCQ
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/Creative History">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Creative
                            </NavLink>
                        </li>
                    </ul>
                </li>

            </ul>
            
          
        </div>
    </div>

</div>

